_contactus

.contactmap_contactus{
    padding-top: 5vh;
    width: 100%;
    height: 70vh;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gmap_contactus{
    padding-top: 3vh;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.gmap_contactus iframe{
    border:0;
    width: 750px;   
    height: 100%;
    /* allowfullscreen : */
}

.maptext_contactus{
    padding-top: 3vh;
}
  @media only screen and (max-width:990px){

    .gmap_contactus iframe{
        border:0;
        width: 80%;
        height: 90%;
        /* allowfullscreen : */
    }


  }
