
.frame000 {
  background: rgba(1, 83, 158, 0.4);
  width: 100%;
  height: 497px;
  position: relative;
  overflow: hidden;
}

.frame-2000 {
  padding: 26px 18px 26px 18px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 44px;
  top: 90px;
  overflow: hidden;
}

.text-scale303 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

._3000 {
  color: var(--black, #181818);
  text-align: left;
  font-family: "Sansation-Bold", sans-serif;
  font-size: 52.099998474121094px;
  font-weight: 700;
  position: relative;
}

._6000 {
  color: var(--black, #181818);
  text-align: left;
  font-family: "Sansation-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  position: relative;
}

.frame-601000 {
  border-radius: 4px;
  padding: 16px 48px 16px 48px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 68px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px; /* Updated for regular screens */
}

.button-sign-up {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 360px) {
  .frame-601000 {
    bottom: 10px; /* Adjusted for smaller screens */
    width: calc(100% - 40px); /* Adjusted width for smaller screens */
    left: 20px; /* Adjusted left position for smaller screens */
  }
}
